<template>
    <v-main id="app" height="100vh">
        <Header/>

        <WorkTogether/>

        <v-row class="ma-10">
            <v-col v-for="(image, index) in images" :key=index cols="auto">
                <Cards :url=image />
            </v-col>
        </v-row>

        <v-card align="center" flat tile
        >
            <v-sheet width="500">
                <div class="h1 text-center">Open Positions</div>
                <v-list two-line>

                    <template v-for="(item, index) in jobLinks">
                        <v-list-item :key=index @click="showCareer(item.id)">

                            <v-list-content>
                                <v-list-item-title>{{item.title}}</v-list-item-title>
                                <v-list-item-subtitle>{{item.location}}</v-list-item-subtitle>
                            </v-list-content>

                            <v-spacer></v-spacer>
                            <v-list-item-icon>
                                <v-icon>arrow_forward_ios</v-icon>
                            </v-list-item-icon>

                        </v-list-item>
                        <v-divider :key=index></v-divider>
                    </template>

                </v-list>
            </v-sheet>
        </v-card>

        <Quote/>

        <v-footer dark padless>
            <v-card class="flex" flat tile>
                <v-card-title class="black">
                    <v-icon>arrow_back_ios</v-icon>
                    <strong class="subheading">Back to main website</strong>

                    <v-spacer></v-spacer>

                    <v-btn
                            v-for="icon in icons"
                            :key="icon"
                            class="mx-4"
                            dark
                            icon
                    >
                        <v-icon size="24px">{{ icon }}</v-icon>
                    </v-btn>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text class="py-2 white--text" align="center">
                    {{ new Date().getFullYear() }} — <strong>Hokela</strong>
                </v-card-text>
            </v-card>
        </v-footer>


    </v-main>
</template>

<script>
    import Cards from '../components/Cards';
    import Header from '../components/Header';
    import WorkTogether from '../components/WorkTogether';
    import Quote from '../components/Quote';

    import axios from 'axios';

    export default {
        async mounted() {
            axios.defaults.baseURL = 'https://develop.hokela.co.ke/api';
            //axios.defaults.headers.common.Authorization = `Bearer ${this.$store.state.token}`;
            axios.get('/admin/careers/')
                .then((response) => {
                    // this.team = response.data.data;
                    console.log(response.data);
                    this.jobLinks = response.data.data
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        components: {
            Header,
            WorkTogether,
            Cards,
            Quote
        },
        data() {
            return {
                images: ["https://cdn.vuetifyjs.com/images/cards/store.jpg",
                    "https://cdn.vuetifyjs.com/images/cards/store.jpg", "https://cdn.vuetifyjs.com/images/cards/store.jpg", 'https://cdn.vuetifyjs.com/images/cards/store.jpg'],
                jobLinks: [],
                icons: [
                    'mdi-facebook',
                    'mdi-twitter',
                    'mdi-linkedin',
                    'mdi-instagram',
                ]
            }
        },
        methods: {
            showCareer(career_id) {
                this.$router.push({name: 'career', params: {id: career_id}});
            },
        },
    }
</script>

<style>
    #app {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

</style>
