<template>
  <v-card
        class="mx-auto"
        align="center"
        flat
        tile
  >
    <v-img
      height="300"
      width="340"
      :src = "url"
    >
    </v-img>
  </v-card>
</template>

<script>
export default {
  name: 'Cards',
  props: {
    url : String
  }
}
</script>