<template>
  <div>
    <v-toolbar dark color="red">
      <v-toolbar-title class="title">Careers page</v-toolbar-title>
    </v-toolbar>

    <v-row>
      <v-col>

        <v-card v-for="(item, index) in jobLinks" :key = index d-flex  width="800px" style="margin: auto; text-align: center">
          <v-row>
            <v-col>
              <h1>{{item.title}}</h1>
            </v-col>
          </v-row>
          <v-row style="width: 800px; margin: auto;">
            <v-col>
              <h3>Seniority Level</h3>
              <p>Entry Level</p>
            </v-col>
            <v-col>
              <h3>Location</h3>
              <p>{{item.location}}</p>
            </v-col>
            <v-col>
              <h3>Deadline</h3>
              <p>{{item.deadline}}</p>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row style="padding-top: 30px">
            <v-card flat tile width="800px" style="margin: auto; text-align: center;">
              <h3 style="text-align: center">Role Description</h3>
              <v-card-text>{{item.description}}</v-card-text>
            </v-card>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="d-flex">
      <v-col cols="auto" style="margin: auto">
        <v-card width="800">
          <v-card-title>Application form</v-card-title>

          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation @submit="validate"
                action="https://develop.hokela.co.ke/api/admin/apply"
                method="post">
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    label="First Name"
                    :rules="nameRules"
                    filled
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-text-field
                    label="Last Name"
                    :rules="nameRules"
                    filled
                    required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Email"
                    type="email"
                    :rules="emailRules"
                    filled
                    required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Phone Number"
                    type="number"
                    :rules="numberRules"
                    filled
                    required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Your Portfolio"
                    type="url"
                    filled
                    required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-card-actions style="margin: auto">
                  <v-btn
                    block
                    width="770px"
                    :disabled="valid"
                    class="mx-auto"
                    type="submit"
                    @click="validate"
                    style="background-color: green;"
                  >
                    Sumbit Application
                  </v-btn>
                </v-card-actions>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "CareerPage",
  async mounted() {
        axios.defaults.baseURL = 'https://develop.hokela.co.ke/api';
        //axios.defaults.headers.common.Authorization = `Bearer ${this.$store.state.token}`;
        axios.get('/admin/careers/')
        .then((response) => {
        // this.team = response.data.data;
            console.log(response.data);
            this.jobLinks = response.data.data
        })
        .catch((error) => {
            console.log(error);
        });
},
  data: () => ({
    valid: true,
    value: "",
    name: "",
    nameRules: [(v) => !!v || "Name is required"],
    numberRules: [
      (v) => !!v || "Phone Number is required",
      (v) => (v && v.length === 10) || "Phone Number must be 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    jobLinks: []
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
      axios.post('https://develop.hokela.co.ke/api/admin/apply', {
    firstname: this.firstname,
    lastname: this.lastname,
    email: this.email,
    phone: this.phone,
    portfolio: this.portfolio
    
})
    .then(function (response) {
        if (response.status === 201) {
            this.snackMessage = "Application form submitted successfully."
            this.snackbar = true
            this.loading = false;
            this.dialog = false
        } else {
            this.snackMessage = "Unable to feedback. Check data or try again later"
            this.snackbar = true
            this.loading = false;
        }
    })
    .catch((error) => {
        console.log(error);
        this.snackMessage = 'An error occurred while submitting. This could be caused by a poor internet connection. Try again later';
        this.snackbar = true;
        this.loading = false;
    });

    }
  },
};
</script>

<style></style>
