<template>

    <v-card>

      <div class="float-left">
        Logo
      </div>
      <div class="float-right">
        Back to main website
      </div>
      
    </v-card>
</template>

<script>
export default {
  name: 'Header',
  }
</script>