<template>
    <v-card
        color="white" 
        align="center"
        dark
        padless
        flat
        tile
    >
        <v-card-text width="500px">
            <h1>"The only way to do great work is to love what you do"</h1>
            <p>Steve Jobs</p>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'Quote',
}
</script>