<template>
    <v-card width="100%" flat tile align="center">
        <v-card
            width="500px" flat tile align="center"
        >
            <v-card-text width="500px" align="left">
                <div class="font-weight-medium">Let's work together</div>
                <div>Work with a highly motivated team of young people and great teammates
                to launch perfectly crafted products you'll love.
                </div>
            </v-card-text>
        </v-card>
    </v-card>
</template>

<script>
export default {
    name: 'WorkTogether',
}
</script>